<div class="body">
    
    <div class="boody">
        <div class="left">
            <section>
                <h2>COMPANY</h2>
                <mat-divider></mat-divider>
                <ul class="dashboard">
                    <li> About Us</li>
                    <mat-divider></mat-divider>
                    <li>About Basic</li>
                    <mat-divider></mat-divider>
                    <li>Company Timeline</li>
                    <mat-divider></mat-divider>
                    <li>Our Customers</li>
                    <mat-divider></mat-divider>
                    <li>Our People</li>
                    <mat-divider></mat-divider>
                    <li>Facts and Figures</li>
                    <mat-divider></mat-divider>
                    <li>History</li>
                    <mat-divider></mat-divider>
                </ul>
            </section>
            <section style="margin-top: 50px;">
                <h2>DOWNLOAD LIBRARY</h2>
                <mat-divider></mat-divider>
                <ul class="dashboard">
                    <li> Annual Report 2019</li>
                    <mat-divider></mat-divider>
                    <li>Company Overview</li>
                    <mat-divider></mat-divider>
                    <li>Company Brochure</li>
                    <mat-divider></mat-divider>
                </ul>
            </section>
            <section style="margin-top: 50px;">
                <h2>CORPORATE VIDEO</h2>
                <mat-divider></mat-divider>
                <img src="assets/images/corporate.jpg" alt="" width="100%">
            </section>

        </div>
        <div class="right">
            <img src="assets/images/factbig.jpg" alt="" width="100%">
            <div class="icon-details">

                <section class="container">
                    <section class="text">
                        <i class="bi bi-globe" style="color: #dd3333;"></i>
                        <section >
                            <h2>Locations</h2>
                            <p>
                                more than 150 locations in 50 countries worldwide
                            </p>
                        </section>
                    </section>

                    <section class="text">
                        <i class="bi bi-graph-up-arrow" style="color:#57ad35"></i>
                        <section >
                            <h2>Sales of 2013</h2>
                            <p>Group: 3,584 million Euros</p>
                            <p>Solutions: 800.3 million Euros</p>
                            <p>Air + Ocean: 898.7 million Euros</p>
                        </section>
                    </section>
                </section>
                <mat-divider></mat-divider>

                <section class="container">
                    <section class="text">
                        <i class="bi bi-file-earmark-bar-graph-fill" style="color: #5b3a00;"></i>
                        <section >
                            <h2>Warehousing</h2>
                            <p>
                                over 550,000 square meters of warehousing storage space worldwide
                            </p>
                        </section>
                    </section>

                    <section class="text">
                        <i class="bi bi-globe2" style="color: #1e73be;"></i>
                        <section >
                            <h2>Sea and Air Cargo 2013</h2>
                            <p>
                                330,000 sea freight containers and 287,000 tonnes of air freight goods
                            </p>
                        </section>
                    </section>
                </section>
                <mat-divider></mat-divider>

                <section class="container">
                    <section class="text">
                        <i class="bi bi-person-square" style="color:#8224e3"></i>
                        <section >
                            <h2>Employees</h2>
                            <p>
                                more than 3,500 employees worldwide about 120 vocational trainees
                            </p>
                        </section>
                    </section>

                    <section class="text">
                        <i class="bi bi-truck" style="color: #e8a60d;"></i>
                        <section >
                            <h2>Sales of 2013</h2>
                            <p>
                                287,000 tonnes of ground freight goods
                            </p>
                        </section>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>