<div class="body">
    <div class="main" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/aboutus.jpg);">
        <section class="content">
            <h1 style="color: white; font-size: 40px; font-family:RaleWay;">OUR PEOPLE</h1>

            <h3 style="color: #36ccff; font-size: 22px;font-family: RaleWay-dark;">Thanks to the dedication and cooperation from all of our employees.</h3>
        </section>
    </div>

    <div class="boody">
        <div class="left">
            <section>
                <h2>COMPANY</h2>
                <mat-divider></mat-divider>
                <ul class="dashboard">
                    <li> About Us</li>
                    <mat-divider></mat-divider>
                    <li>About Basic</li>
                    <mat-divider></mat-divider>
                    <li>Company Timeline</li>
                    <mat-divider></mat-divider>
                    <li>Our Customers</li>
                    <mat-divider></mat-divider>
                    <li>Our People</li>
                    <mat-divider></mat-divider>
                    <li>Facts and Figures</li>
                    <mat-divider></mat-divider>
                    <li>History</li>
                    <mat-divider></mat-divider>
                </ul>
            </section>
            <section style="margin-top: 50px;">
                <h2>DOWNLOAD LIBRARY</h2>
                <mat-divider></mat-divider>
                <ul class="dashboard">
                    <li> Annual Report 2019</li>
                    <mat-divider></mat-divider>
                    <li>Company Overview</li>
                    <mat-divider></mat-divider>
                    <li>Company Brochure</li>
                    <mat-divider></mat-divider>
                </ul>
            </section>
            <section style="margin-top: 50px;">
                <h2>CORPORATE VIDEO</h2>
                <mat-divider></mat-divider>
                <img src="assets/images/corporate.jpg" alt="" width="100%">
            </section>

        </div>
        <div class="right">
            <section>
                <h2 class="underline">Our People</h2>
                <p style="margin-top: 50px;">
                    Artisan selvage art party Godard, forage Austin Pitchfork. Organic tofu vinyl VHS cold-pressed gastropub. Tousled letterpress actually irony Vice farm-to-table. Street art you probably haven’t heard of them bicycle rights Cosby sweater small batch, PBR&B lomo. Master cleanse selvage disrupt heirloom wolf freegan. Pinterest Williamsburg organic seitan roof party keffiyeh, paleo vinyl four loko wayfarers blog Brooklyn. Wolf pickled crucifix, cardigan vegan dreamcatcher Vice.
                </p>
            </section>

            <section style="margin-top: 50px;">
                <img src="assets/images/peoplelady.jpg" alt="" width="100%">
            </section>

            <section style="margin-top: 50px;">
                <h2 class="underline">EXECUTIVE COMMITTEE</h2>
                <p style="margin-top: 50px;">
                    Artisan selvage art party Godard, forage Austin Pitchfork. Organic tofu vinyl VHS cold-pressed gastropub. Tousled letterpress actually irony Vice farm-to-table. Street art you probably haven’t heard of them bicycle rights Cosby sweater small batch, PBR&B lomo. Master cleanse selvage disrupt heirloom wolf freegan. Pinterest Williamsburg organic seitan roof party keffiyeh, paleo vinyl four loko wayfarers blog Brooklyn. Wolf pickled crucifix, cardigan vegan dreamcatcher Vice.
                </p>

                <section class="profile">
                    <img src="assets/images/exe1.jpg" alt="">
                    <section class="info">
                        <h2 style="color: #36ccff;">John F. Kennedy</h2>
                        <p>Co-Founder and Chairman of the Executive Committee</p>
                        <p>Deputy Chairman of the Board</p>
                        <p>Executive Director</p>
                        <button mat-button> + CLICK TO VIEW PROFILE</button>
                    </section>
                </section>

                <section class="profile">
                    <img src="assets/images/exe2.jpg" alt="">
                    <section class="info">
                        <h2 style="color: #36ccff;">William Conrad</h2>
                        <p>Chief Executive Officer</p>
                        <p>Executive Director</p>
                        <button mat-button> + CLICK TO VIEW PROFILE</button>
                    </section>
                </section>

                <section class="profile">
                    <img src="assets/images/exe3.jpg" alt="">
                    <section class="info">
                        <h2 style="color: #36ccff;">Jin Min Sun</h2>
                        <p>President of Logistic Asia</p>
                        <button mat-button> + CLICK TO VIEW PROFILE</button>
                    </section>
                </section>

                <section class="profile">
                    <img src="assets/images/exe4.jpg" alt="">
                    <section class="info">
                        <h2 style="color: #36ccff;">Caroline Audrey</h2>
                        <p>President of Logistic Europe</p>
                        <button mat-button> + CLICK TO VIEW PROFILE</button>
                    </section>
                </section>

                <section class="profile">
                    <img src="assets/images/exe5.jpg" alt="">
                    <section class="info">
                        <h2 style="color: #36ccff;">John F. Kennedy</h2>
                        <p>Chief Operating Officer</p>
                        <button mat-button> + CLICK TO VIEW PROFILE</button>
                    </section>
                </section>


            </section>
        </div>
    </div>
</div>