<div class="footer" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/images/footer.png); background-size: cover; background-position: center;">
    <div class="links">
        <div class="container">
            <h3 class="underline">ABOUT OUR COMPANY</h3>
            <img src="assets/images/footerlogo.png" alt="" style="margin-top: 20px; margin-bottom: 20px;" class="logo-image">
            <p>
                Logistic was founded to make a mark in London’s Clearing and Forwarding industry. Logistic started its operations in all the major cities <br>in Europe with the aim to offer the best in logistics services.
            </p>
        </div>

        <div class="container">
            <h3 class="underline">USEFUL LINKS</h3>
            <ul>
                <li>About us</li>
                <li>Company Timeline</li>
                <li>History</li>
                <li>Services</li>
                <li>Contact Us</li>
            </ul>
        </div>

        <div class="container">
            <h3 class="underline">USEFUL LINKS</h3>
            <ul>
                <li>Ads & Promos 02</li>
                <li>Warehousing</li>
                <li>Logistics</li>
                <li>Project Transport</li>
                <li>Overland Network</li>
                <li>Sea Fright</li>
            </ul>
        </div>

        <div class="container">
            <h3 class="underline">CONTACT INFO</h3>
            <section style="margin-top: 50px; font-size: 12px; margin-bottom: 50px;">
                <p>Address : Global Logistic, London 4-5 Spring St, London</p> <br>
                <p>Phone Number : +44 20 8786 7200</p>
            </section>
            <h3 class="underline">NEWS LETTER</h3>
            <input type="text" class="field" placeholder="Email Address">
            <button class="field-button"> Subscribe</button>
        </div>
    </div>

    <mat-divider style="border-color: lightgray;"></mat-divider>
    <div class="end-footer">
        <p class="copy">
            © 2021 Logistic - All Rights Reserved
        </p>

        <section class="icons">
            <i class="bi-facebook"></i>
            <i class="bi-twitter"></i>
            <i class="bi-linkedin"></i>
            <i class="bi-google"></i>

        </section>
    </div>
    
</div>
