<div class="body">
    <div class="main">
        <h1 style="font-size: 40px;">CONTACT</h1>

        <div class="contacts">

            <div class="co-container">
                <h5 style="font-size: 16px;">LOGISTIC HEADQUARTERS</h5>
                <h5 style="font-family:RaleWay-dark;font-size: 14px;"> Global Logistic, London</h5>
                <p>4-5 Spring St, London</p>
                <p>Tel: +44 20 8786 7200</p>
                <p>Fax: +44 20 8786 7200</p>
                <p>Email: info@yourdomain.com</p>
            </div>
            <div class="co-container">
                <h5 style="font-size: 16px;">LOGISTIC HEADQUARTERS</h5>
                <h5 style="font-family:RaleWay-dark;font-size: 14px;"> Global Logistic, London</h5>
                <p>4-5 Spring St, London</p>
                <p>Tel: +44 20 8786 7200</p>
                <p>Fax: +44 20 8786 7200</p>
                <p>Email: info@yourdomain.com</p>
            </div>

            <div class="co-container">
                <h5 style="font-size: 16px;">LOGISTIC HEADQUARTERS</h5>
                <h5 style="font-family:RaleWay-dark;font-size: 14px;"> Global Logistic, London</h5>
                <p>4-5 Spring St, London</p>
                <p>Tel: +44 20 8786 7200</p>
                <p>Fax: +44 20 8786 7200</p>
                <p>Email: info@yourdomain.com</p>
            </div>

            <div class="co-container">
                <h5 style="font-size: 16px;">LOGISTIC HEADQUARTERS</h5>
                <h5 style="font-family:RaleWay-dark; font-size: 14px;"> Global Logistic, London</h5>
                <p>4-5 Spring St, London</p>
                <p>Tel: +44 20 8786 7200</p>
                <p>Fax: +44 20 8786 7200</p>
                <p>Email: info@yourdomain.com</p>
            </div>

            <div class="co-container">
                <h5 style="font-size: 16px;">LOGISTIC HEADQUARTERS</h5>
                <h5 style="font-family:RaleWay-dark; font-size: 14px;"> Global Logistic, London</h5>
                <p>4-5 Spring St, London</p>
                <p>Tel: +44 20 8786 7200</p>
                <p>Fax: +44 20 8786 7200</p>
                <p>Email: info@yourdomain.com</p>
            </div>
        </div>


        <div class="form">

            <div class="actual-form">
                <section class="half">
                    <mat-form-field class="half-field">
                        <mat-label>NAME</mat-label>
                        <input matInput placeholder="Name (Required)">
                    </mat-form-field>

                    <mat-form-field class="half-field">
                        <mat-label>EMAIL</mat-label>
                        <input matInput placeholder="Email (Required)">
                    </mat-form-field>
                </section>
                <mat-form-field class="full-field">
                    <mat-label>SUBJECT</mat-label>
                    <input matInput placeholder="Subject (Required)">
                </mat-form-field>

                <mat-form-field class="full-field" appearance="fill">
                    <mat-label>MESSAGE</mat-label>
                    <textarea matInput placeholder="Message"></textarea>
                  </mat-form-field>

                  <button class="button">SEND</button>
            </div>

            <img src="assets/images/formlady.png" alt="" width="50%">
        </div>

        
    </div>

    <div class="map">
        
    </div>
</div>
