<div class="body">
    <div class="main" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/aboutus.jpg);">
        <section class="content">
            <h1 style="color: white; font-size: 40px; font-family:RaleWay;">COMPANY</h1>

            <h3 style="color: #36ccff; font-size: 22px;"> Coming together is a beginning; keeping together is progress; working together is success.</h3>
        </section>
    </div>

    <div class="achievement">
        <h2 style="font-family: Plafair Display; font-size: 72px; color: #36ccff; text-align: center;">Our Achievemets</h2>
        <h4 style="text-align: center; font-size: 18px;">
            Mixtape taxidermy plaid crucifix, Cosby sweater occupy cold-pressed Portland pop-up lo-fi <br>PBR&B kale chips readymade. Flexitarian bitters Shoreditch literally paleo.
        </h4>
    </div>

    <div class="timeline" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(assets/images/timeline1.jpg); background-size: cover;">
        <h2 style="color: white; font-size: 150px;font-family: RaleWay; text-align: center;">2000</h2>
        <h3 style="color: #36ccff; text-align: center; font-size: 32px;">
            Mixtape taxidermy plaid crucifix, Cosby sweater occupy <br>cold-pressed Portland pop-up lo-fi PBR&amp;B kale chips <br>readymade. Flexitarian bitters Shoreditch literally paleo <br>sweater occupy cold-pressed.
        </h3>

        <section class="timeline-buttons">
            <button class="butt">2000</button>
            <button class="butt">2004</button>
            <button class="butt">2007</button>
            <button class="butt">2009</button>
            <button class="butt">2010</button>
            <button class="butt">2011</button>
            <button class="butt">2012</button>
            <button class="butt">2013</button>
            <button class="butt">2014</button>
        </section>
    </div>

    <div class="bottom-tiles">
        <div class="timeline-box">
            <div class="box">
                <img src="assets/images/timelinebot1.jpg" height="100%" width="100%">
            </div>
            <div class="box">
                <img src="assets/images/timelinebot2.jpg" height="100%" width="100%">
                
            </div>
            <div class="box">
                <img src="assets/images/timelinebot3.jpg" height="100%" width="100%">
                
            </div>
        </div>
    </div>

</div>
