<div class="body">
    <section class="text">
        <h1>
            LOGISTIC is pleased to be able to provide you with an accurate and timely rate for the shipping of your goods.
        </h1>
        <p>
            Use the form below to send us all information pertinent to your shipment.
        </p>
        <p>
            To insure a prompt and accurate rate, please provide us with all the following information:
        </p>

        <section class="form">
            <mat-form-field class="full-field">
                <mat-label>AREA</mat-label>
                <input matInput placeholder="Area (Required)">
            </mat-form-field>
            <mat-form-field class="full-field">
                <mat-label>MR/MS</mat-label>
                <input matInput placeholder="MR/MS (Required)">
            </mat-form-field>
            <mat-form-field class="full-field">
                <mat-label>TITLE</mat-label>
                <input matInput placeholder="Title (Required)">
            </mat-form-field>

            <section class="half">
                <mat-form-field class="half-field left">
                    <mat-label>NAME</mat-label>
                    <input matInput placeholder="Name (Required)">
                </mat-form-field>

                <mat-form-field class="half-field right">
                    <mat-label>COMPANY</mat-label>
                    <input matInput placeholder="Company (Required)">
                </mat-form-field>
            </section>

            <section class="half">
                <mat-form-field class="half-field left">
                    <mat-label>PHONE</mat-label>
                    <input matInput placeholder="Phone (Required)">
                </mat-form-field>

                <mat-form-field class="half-field right">
                    <mat-label>EMAIL</mat-label>
                    <input matInput placeholder="Email (Required)">
                </mat-form-field>
            </section>

            <section class="half">
                <mat-form-field class="half-field left">
                    <mat-label>CITY</mat-label>
                    <input matInput placeholder="City (Required)">
                </mat-form-field>

                <mat-form-field class="half-field right">
                    <mat-label>SUBJECT</mat-label>
                    <input matInput placeholder="Subject (Required)">
                </mat-form-field>
            </section>

            <mat-form-field class="full-field" appearance="fill">
                <mat-label>YOUR MESSAGE</mat-label>
                <textarea matInput placeholder="Message"></textarea>
              </mat-form-field>

              <button class="button">SUBMIT FORM</button>

        </section>
    </section>
</div>