<div class="body">
    <div class="main">
        <h1 style="font-family: RaleWay; color: white;text-align: center; font-size: 40px;">Latest News & Insights </h1>
        <h3 style="text-align: center; color: #36ccff;font-size: 22px;">
            Every day we learn something new and useful that we want to share with you.
        </h3>
    </div>

    <div class="news">
        <div class="left">
            <div class="news-content">
                <img src="assets/images/news1.jpg" alt="" width="100%">
                <p style="padding: 20px 0px;">
                    By <span class="link"> admin </span> in <span class="link">PressReleases</span> Posted November 15, 2018 at 7:50 pm
                </p>
                <h2 style="font-size: 30px;" class="heading">
                    Next Generation Tracking
                </h2>
                <p>
                    Seitan plaid Wes Anderson pug Blue Bottle Marfa, fashion axe Shoreditch PBR. Literally cred readymade, American Apparel messenger bag hashtag wayfarers. Polaroid Banksy crucifix Tumblr keytar. Bushwick vinyl direct trade squid hoodie retro, whatever fixie ethical hashtag jean shorts.
                </p>
                <section style="margin-top: 30px;">
                    <section style="float: left;">
                        <i class="bi bi-heart"></i>
                        <i class="bi bi-share" style="margin-left: 20px;"></i>
                    </section>
                    <p style="float: right; padding-right: 20px;" class="link">
                        Continue Reading <i class="bi bi-arrow-right" style="font-size: 12px;"></i>
                    </p>
                </section>
            </div>

            <div class="news-content">
                <img src="assets/images/news2.jpg" alt="" width="100%">
                <p style="padding: 20px 0px;">
                    By <span class="link"> admin </span> in <span class="link">PressReleases</span> Posted November 15, 2018 at 7:50 pm
                </p>
                <h2 style="font-size: 30px;" class="heading">
                    Next Generation Tracking
                </h2>
                <p>
                    Seitan plaid Wes Anderson pug Blue Bottle Marfa, fashion axe Shoreditch PBR. Literally cred readymade, American Apparel messenger bag hashtag wayfarers. Polaroid Banksy crucifix Tumblr keytar. Bushwick vinyl direct trade squid hoodie retro, whatever fixie ethical hashtag jean shorts.
                </p>
                <section style="margin-top: 30px;">
                    <section style="float: left;">
                        <i class="bi bi-heart"></i>
                        <i class="bi bi-share" style="margin-left: 20px;"></i>
                    </section>
                    <p style="float: right; padding-right: 20px;" class="link">
                        Continue Reading <i class="bi bi-arrow-right" style="font-size: 12px;"></i>
                    </p>
                </section>
            </div>

            <div class="news-content">
                <img src="assets/images/news3.jpg" alt="" width="100%">
                <p style="padding: 20px 0px;">
                    By <span class="link"> admin </span> in <span class="link">PressReleases</span> Posted November 15, 2018 at 7:50 pm
                </p>
                <h2 style="font-size: 30px;" class="heading">
                    Next Generation Tracking
                </h2>
                <p>
                    Seitan plaid Wes Anderson pug Blue Bottle Marfa, fashion axe Shoreditch PBR. Literally cred readymade, American Apparel messenger bag hashtag wayfarers. Polaroid Banksy crucifix Tumblr keytar. Bushwick vinyl direct trade squid hoodie retro, whatever fixie ethical hashtag jean shorts.
                </p>
                <section style="margin-top: 30px;">
                    <section style="float: left;">
                        <i class="bi bi-heart"></i>
                        <i class="bi bi-share" style="margin-left: 20px;"></i>
                    </section>
                    <p style="float: right; padding-right: 20px;" class="link">
                        Continue Reading <i class="bi bi-arrow-right" style="font-size: 12px;"></i>
                    </p>
                </section>
            </div>

            <div class="news-content">
                <img src="assets/images/news4.jpg" alt="" width="100%">
                <p style="padding: 20px 0px;">
                    By <span class="link"> admin </span> in <span class="link">PressReleases</span> Posted November 15, 2018 at 7:50 pm
                </p>
                <h2 style="font-size: 30px;" class="heading">
                    Next Generation Tracking
                </h2>
                <p>
                    Seitan plaid Wes Anderson pug Blue Bottle Marfa, fashion axe Shoreditch PBR. Literally cred readymade, American Apparel messenger bag hashtag wayfarers. Polaroid Banksy crucifix Tumblr keytar. Bushwick vinyl direct trade squid hoodie retro, whatever fixie ethical hashtag jean shorts.
                </p>
                <section style="margin-top: 30px;">
                    <section style="float: left;">
                        <i class="bi bi-heart"></i>
                        <i class="bi bi-share" style="margin-left: 20px;"></i>
                    </section>
                    <p style="float: right; padding-right: 20px;" class="link">
                        Continue Reading <i class="bi bi-arrow-right" style="font-size: 12px;"></i>
                    </p>
                </section>
            </div>

            <div class="news-content">
                <img src="assets/images/news5.jpg" alt="" width="100%">
                <p style="padding: 20px 0px;">
                    By <span class="link"> admin </span> in <span class="link">PressReleases</span> Posted November 15, 2018 at 7:50 pm
                </p>
                <h2 style="font-size: 30px;" class="heading">
                    Next Generation Tracking
                </h2>
                <p>
                    Seitan plaid Wes Anderson pug Blue Bottle Marfa, fashion axe Shoreditch PBR. Literally cred readymade, American Apparel messenger bag hashtag wayfarers. Polaroid Banksy crucifix Tumblr keytar. Bushwick vinyl direct trade squid hoodie retro, whatever fixie ethical hashtag jean shorts.
                </p>
                <section style="margin-top: 30px;">
                    <section style="float: left;">
                        <i class="bi bi-heart"></i>
                        <i class="bi bi-share" style="margin-left: 20px;"></i>
                    </section>
                    <p style="float: right; padding-right: 20px;" class="link">
                        Continue Reading <i class="bi bi-arrow-right" style="font-size: 12px;"></i>
                    </p>
                </section>
            </div>

            <div class="news-content">
                <img src="assets/images/news6.jpg" alt="" width="100%">
                <p style="padding: 20px 0px;">
                    By <span class="link"> admin </span> in <span class="link">PressReleases</span> Posted November 15, 2018 at 7:50 pm
                </p>
                <h2 style="font-size: 30px;" class="heading">
                    Next Generation Tracking
                </h2>
                <p>
                    Seitan plaid Wes Anderson pug Blue Bottle Marfa, fashion axe Shoreditch PBR. Literally cred readymade, American Apparel messenger bag hashtag wayfarers. Polaroid Banksy crucifix Tumblr keytar. Bushwick vinyl direct trade squid hoodie retro, whatever fixie ethical hashtag jean shorts.
                </p>
                <section style="margin-top: 30px;">
                    <section style="float: left;">
                        <i class="bi bi-heart"></i>
                        <i class="bi bi-share" style="margin-left: 20px;"></i>
                    </section>
                    <p style="float: right; padding-right: 20px;" class="link">
                        Continue Reading <i class="bi bi-arrow-right" style="font-size: 12px;"></i>
                    </p>
                </section>
            </div>

            <div class="news-content">
                <img src="assets/images/news7.jpg" alt="" width="100%">
                <p style="padding: 20px 0px;">
                    By <span class="link"> admin </span> in <span class="link">PressReleases</span> Posted November 15, 2018 at 7:50 pm
                </p>
                <h2 style="font-size: 30px;" class="heading">
                    Next Generation Tracking
                </h2>
                <p>
                    Seitan plaid Wes Anderson pug Blue Bottle Marfa, fashion axe Shoreditch PBR. Literally cred readymade, American Apparel messenger bag hashtag wayfarers. Polaroid Banksy crucifix Tumblr keytar. Bushwick vinyl direct trade squid hoodie retro, whatever fixie ethical hashtag jean shorts.
                </p>
                <section style="margin-top: 30px;">
                    <section style="float: left;">
                        <i class="bi bi-heart"></i>
                        <i class="bi bi-share" style="margin-left: 20px;"></i>
                    </section>
                    <p style="float: right; padding-right: 20px;" class="link">
                        Continue Reading <i class="bi bi-arrow-right" style="font-size: 12px;"></i>
                    </p>
                </section>
            </div>

            <div class="pagination">
                <a>&laquo;</a>
                <a >1</a>
                <a class="active">2</a>
                <a>3</a>
                <a>4</a>
                <a >5</a>
                <a >6</a>
                <a >&raquo;</a>
              </div>

        </div>

        <div class="right">
            <mat-form-field>
                <mat-label>TYPE AND HIT ENTER</mat-label>
                <input matInput placeholder="Type and Hit Enter">
            </mat-form-field>

            <h2 style="padding: 15px 0px;">
                  POPULAR TAGS
            </h2>

            <mat-divider></mat-divider>

            <section class="search-buttons">
                <button>centre</button>
                <button>development</button>
                <button>europe</button>
                <button>hub</button>
                <button>Logistic</button>
                <button>office</button>
                <button>result</button>
                <button>service</button>
                <button>tracking</button>
            </section>
        </div>
    </div>
</div>
