<div class="body">
    <div class="main" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/warehousing.jpg); background-size: cover;">
        <h1 style="color: white; text-align: center; font-size: 60px;">Warehousing and Distribution</h1>
        <p style="color: white; text-align: center;">
            Trust Fund Paleo Cray Swag, Health Goth Mixtape Carles Deep v Mustache Craft.
        </p>
    </div>

    <div class="air-freight">
        <div class="icons">
            <div>
                <p style="color: #36ccff;text-align: center;">
                <i class="bi bi-globe" style="font-size: 50px;"></i>
                </p>
                <h2 style="text-align: center; font-family: RaleWay-dark;">
                    Professional Storage
                </h2>
                <p style="text-align:center;">
                    Trust fund paleo cray swag, health goth mixtape Carles deep v mustache craft beer <br> retro Williamsburg High Life Godard. 90’s narwhal drinking vinegar gentrify lo-fi. Cray <br> Austin Neutra farm-to-table pork belly Pitchfork, Odd Future food truck 90’s Helvetica.
                </p>
            </div>

            <div>
                <p style="color: #36ccff;text-align: center;">
                <i class="bi bi-globe" style="font-size: 50px;"></i>
                </p>
                <h2 style="text-align: center; font-family: RaleWay-dark;">
                    Professional Distribution
                </h2>
                <p style="text-align:center;">
                    Trust fund paleo cray swag, health goth mixtape Carles deep v mustache craft beer <br> retro Williamsburg High Life Godard. 90’s narwhal drinking vinegar gentrify lo-fi. Cray <br> Austin Neutra farm-to-table pork belly Pitchfork, Odd Future food truck 90’s Helvetica.
                    
                </p>
            </div>
            
        </div>
        <hr style="width: 60%;">

        <div class="icons">
            <div>
                <p style="color: #36ccff;text-align: center;">
                <i class="bi bi-globe" style="font-size: 50px;"></i>
                </p>
                <h2 style="text-align: center; font-family: RaleWay-dark;">
                    Cross Docking
                </h2>
                <p style="text-align:center;">
                    Trust fund paleo cray swag, health goth mixtape Carles deep v mustache craft beer <br> retro Williamsburg High Life Godard. 90’s narwhal drinking vinegar gentrify lo-fi. Cray <br> Austin Neutra farm-to-table pork belly Pitchfork, Odd Future food truck 90’s Helvetica.
                    
                </p>
            </div>

            <div>
                <p style="color: #36ccff;text-align: center;">
                <i class="bi bi-globe" style="font-size: 50px;"></i>
                </p>
                <h2 style="text-align: center; font-family: RaleWay-dark;">
                    Dedicated Warehouses
                </h2>
                <p style="text-align:center;">
                    Trust fund paleo cray swag, health goth mixtape Carles deep v mustache craft beer <br> retro Williamsburg High Life Godard. 90’s narwhal drinking vinegar gentrify lo-fi. Cray <br> Austin Neutra farm-to-table pork belly Pitchfork, Odd Future food truck 90’s Helvetica.
                </p>
            </div>
        </div>
    </div>

    <div class="plane" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/warehouselights.jpg) fixed; background-size: cover;">
        <div class="plane-text" style="margin-left: 20%;">
            <h1 style="font-family: RaleWay-dark; text-align: center;font-size: 30px;">
                Trust fund paleo cray swag, health goth mixtape Carles deep v mustache craft beer retro Williamsburg High Life Godard. 90’s narwhal drinking vinegar gentrify lo-fi. Cray Austin Neutra farm-to-table pork belly Pitchfork, Odd Future food truck 90’s Helvetica.

            </h1>
        </div>
    </div>

    <div class="warehouse-containers">
        <section>
            <img src="assets/images/containers.jpg" alt="" width="100%">
        </section>

        <section class="progress">
            <section class="progress-box">
                <h2 style="font-weight:900;">Warehousing Solutions</h2>
                <p style="color: #828282;">
                    Trust fund paleo cray swag, health goth mixtape Carles deep v mustache craft beer <br> retro Williamsburg High Life Godard. 90’s narwhal drinking vinegar gentrify lo-fi. Cray <br>Austin Neutra farm-to-table pork belly Pitchfork, Odd Future food truck 90’s Helvetica.
                </p>
            </section>
            <section class="progress-box">
                <div class="grey">
                    <div class="prog-bar" style="width: 98%;">
                        <p style="color: white; font-size: 12px; padding-left: 20px; padding-top: 5px;"> 
                            Your Products are Always Available 98%
                        </p>
                    </div>
                </div>
                <div class="grey">
                    <div class="prog-bar" style="width: 80%;">
                        <p style="color: white; font-size: 12px; padding-left: 20px; padding-top: 5px;"> 
                            YMaterials Handling Equipment. 80%
                        </p>
                    </div>
                </div>
                <div class="grey">
                    <div class="prog-bar" style="width: 70%;">
                        <p style="color: white; font-size: 12px; padding-left: 20px; padding-top: 5px;"> 
                            High Transparency 70%
                        </p>
                    </div>
                </div>
                <div class="grey">
                    <div class="prog-bar" style="width: 65%;">
                        <p style="color: white; font-size: 12px; padding-left: 20px; padding-top: 5px;"> 
                            Outgoing Shipment 65%
                        </p>
                    </div>
                </div>
            </section>
        </section>
    </div>

    <div class="air-freight">
        <h2 style="font-family: RaleWay-dark; text-align: center;" class="underline">
            OTHER SERVICES
        </h2>
        <p style="font-weight:700; margin: 50px; text-align: center; font-size: 16px;">
            Artisan selvage art party Godard, forage Austin Pitchfork. Organic tofu vinyl VHS cold-pressed <br>gastropub. Tousled letterpress actually irony Vice farm-to-table. Street art you probably haven’t<br> heard of them bicycle rights Cosby sweater small batch, PBR&B lomo.
        </p>

        <div class="icons">
            <div class="image" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/logimage1.jpg); background-size: cover;">
                <p style="padding: 10px; background-color: #2052e8;">
                    Logistics
                </p>
                <p style="font-size: 12px;">Master Cleanse Hashtag</p>
            </div>
            <div class="image" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/logimage2.jpg); background-size: cover;">
                <p style="padding: 10px; background-color: #a10eb7;">
                    Sea Fright
                </p>
                <p style="font-size: 12px;">Master Cleanse Hashtag</p>
            </div>
            <div class="image" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/logimage3.jpg); background-size: cover;">
                <p style="padding: 10px; background-color: #edc512;">
                    Air Fright
                </p>
                <p style="font-size: 12px;">Master Cleanse Hashtag</p>
            </div>
            <div class="image" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/logimage4.jpg); background-size: cover;">
                <p style="padding: 10px; background-color:#dd3333;">
                    Warehousing
                </p>
                <p style="font-size: 12px;">Master Cleanse Hashtag</p>
            </div>
        </div>

            
    </div>


</div>
