<div class="body">
    
    <div class="main">

        <div class="left">
            <img src="assets/images/projectbig.jpg" alt="" width="100%">
            
            <section class="news">
                <h2>Tailored Project Transport</h2>
                <p>
                    Mlkshk quinoa ethical vegan polaroid, 8-bit meggings paleo Bushwick Blue Bottle beard cred distillery. Post-ironic Shoreditch typewriter kogi church-key squid, umami semiotics. Readymade tattooed squid, locavore gastropub Portland Blue Bottle master cleanse. Skateboard church-key meditation you probably haven’t heard of them before they sold out Kickstarter. Cardigan distillery pickled, paleo bitters synth butcher keffiyeh. Synth squid wayfarers beard Shoreditch. 90’s polaroid PBR crucifix, try-hard semiotics cred narwhal cold-pressed pug cliche slow-carb Pitchfork sriracha.
                </p>

                <section class="subnews">
                    <img src="assets/images/projectsmall.jpg" alt="">
                    <section>
                        <p style="padding-left:10px;">
                            Typewriter Echo Park plaid, Godard dreamcatcher locavore art party cred skateboard umami food truck actually tofu. Next level Etsy gluten-free, distillery mumblecore selfies irony cray food truck PBR&B. Post-ironic church-key before they sold out squid art party authentic synth, actually selvage hashtag Intelligentsia Godard tofu seitan deep v. Next level fingerstache actually, wolf Thundercats keytar forage mustache paleo pour-over quinoa normcore selvage skateboard plaid. Readymade tilde drinking vinegar occupy viral. Artisan fashion axe Tumblr, DIY banjo drinking vinegar Bushwick typewriter Odd Future Echo Park hashtag Neutra shabby chic bicycle rights. Viral typewriter small batch mumblecore stumptown shabby chic narwhal, twee skateboard.
                        </p>
                    </section>
                </section>
            </section>

            <div class="logos">
                <section>
                    <p style="text-align: center;">
                        <i class="bi bi-globe"></i>
                    </p>
                    <h2 style="text-align: center;">Any Destination</h2>
                </section>
                <section>
                    <p style="text-align: center;">
                        <i class="bi bi-recycle"></i>
                    </p>
                    <h2 style="text-align: center;">Import & Export</h2>
                </section>
                <section>
                    <p style="text-align: center;">
                        <i class="bi bi-person-lines-fill"></i>
                    </p>
                    <h2 style="text-align: center;">Door to Door</h2>
                </section>
            </div>
        </div>


        <div class="right">
            <h2>
                ANY QUESTIONS?
            </h2>
            <mat-divider></mat-divider>

            <img src="assets/images/question.jpg" alt="" width="100%" style="margin-top: 20px;">
            <p>
                <a>Contact me</a>
            </p>

            <section style="margin-top: 30px;">
                <h2>DOWNLOAD LIBRARY</h2>
                <mat-divider></mat-divider>
                <ul class="dashboard">
                    <li> Annual Report 2019</li>
                    <mat-divider></mat-divider>
                    <li>Company Overview</li>
                    <mat-divider></mat-divider>
                    <li>Company Brochure</li>
                    <mat-divider></mat-divider>
                </ul>
            </section>

        </div>


    </div>

</div>
