<div class="body">
    <div class="main" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/history.jpg); background-position: center;">
        <section class="content">
            <h1 style="color: white; font-size: 40px; font-family:RaleWay;">The History of Logistic</h1>

            <h3 style="color: white; font-size: 22px;font-family: RaleWay-dark;"> We Provide Logistic Services Since 2000</h3>
        </section>
    </div>

    <div class="boody">
        <div class="left">
            <section>
                <h2>COMPANY</h2>
                <mat-divider></mat-divider>
                <ul class="dashboard">
                    <li> About Us</li>
                    <mat-divider></mat-divider>
                    <li>About Basic</li>
                    <mat-divider></mat-divider>
                    <li>Company Timeline</li>
                    <mat-divider></mat-divider>
                    <li>Our Customers</li>
                    <mat-divider></mat-divider>
                    <li>Our People</li>
                    <mat-divider></mat-divider>
                    <li>Facts and Figures</li>
                    <mat-divider></mat-divider>
                    <li>History</li>
                    <mat-divider></mat-divider>
                </ul>
            </section>
            <section style="margin-top: 50px;">
                <h2>DOWNLOAD LIBRARY</h2>
                <mat-divider></mat-divider>
                <ul class="dashboard">
                    <li> Annual Report 2019</li>
                    <mat-divider></mat-divider>
                    <li>Company Overview</li>
                    <mat-divider></mat-divider>
                    <li>Company Brochure</li>
                    <mat-divider></mat-divider>
                </ul>
            </section>
            <section style="margin-top: 50px;">
                <h2>CORPORATE VIDEO</h2>
                <mat-divider></mat-divider>
                <img src="assets/images/corporate.jpg" alt="" width="100%">
            </section>

        </div>
        <div class="right">
            <p style="text-align: center; background-color:black; color: white; width: 100px; margin: auto; padding: 10px; border-radius: 2px;">
                HISTORY
            </p>
            <div class="timeline">

                <div class="container left-content">
                  <div class="box-content">
                    <h4>
                        2020 - Austin next level drinking vinegar, narwhal small.
                    </h4>
                    <p>
                        You probably haven't heard of them High Life Vice Marfa. Sartorial gluten-free tousled forage, Tumblr normcore biodiesel food truck whatever tofu put a bird on it wolf street art.
                    </p>
                  </div>
                </div>

                <div class="container right-content">
                  <div class="box-content">
                    <h4>
                        2018 - VHS letterpress distillery, retro typewriter.
                    </h4>
                    <p>
                        You probably haven't heard of them High Life Vice Marfa. Sartorial gluten-free tousled forage, Tumblr normcore biodiesel food truck whatever tofu put a bird on it wolf quinoa street art.
                    </p>
                  </div>
                </div>
                <div class="container left-content">
                    <div class="box-content">
                      <h4>
                          2020 - Austin next level drinking vinegar, narwhal small.
                      </h4>
                      <p>
                          You probably haven't heard of them High Life Vice Marfa. Sartorial gluten-free tousled forage, Tumblr normcore biodiesel food truck whatever tofu put a bird on it wolf street art.
                      </p>
                    </div>
                  </div>
  
                  <div class="container right-content">
                    <div class="box-content">
                      <h4>
                          2018 - VHS letterpress distillery, retro typewriter.
                      </h4>
                      <p>
                          You probably haven't heard of them High Life Vice Marfa. Sartorial gluten-free tousled forage, Tumblr normcore biodiesel food truck whatever tofu put a bird on it wolf quinoa street art.
                      </p>
                    </div>
                  </div>

                  <div class="container left-content">
                    <div class="box-content">
                      <h4>
                          2020 - Austin next level drinking vinegar, narwhal small.
                      </h4>
                      <p>
                          You probably haven't heard of them High Life Vice Marfa. Sartorial gluten-free tousled forage, Tumblr normcore biodiesel food truck whatever tofu put a bird on it wolf street art.
                      </p>
                    </div>
                  </div>
  
                  <div class="container right-content">
                    <div class="box-content">
                      <h4>
                          2018 - VHS letterpress distillery, retro typewriter.
                      </h4>
                      <p>
                          You probably haven't heard of them High Life Vice Marfa. Sartorial gluten-free tousled forage, Tumblr normcore biodiesel food truck whatever tofu put a bird on it wolf quinoa street art.
                      </p>
                    </div>
                  </div>

                  <div class="container left-content">
                    <div class="box-content">
                      <h4>
                          2020 - Austin next level drinking vinegar, narwhal small.
                      </h4>
                      <p>
                          You probably haven't heard of them High Life Vice Marfa. Sartorial gluten-free tousled forage, Tumblr normcore biodiesel food truck whatever tofu put a bird on it wolf street art.
                      </p>
                    </div>
                  </div>
              </div>
              <p style="text-align: center; background-color:black; color: white; width:200px; margin: auto; padding: 10px; border-radius: 2px;">
                Logiistic Founded in 2000
            </p>
        </div>
    </div>
</div>