<div class="body">
    <div class="map">

    </div>

    <div class="content">
        <h2 style="text-align: center;" class="underline">GLOBAL COVERAGE</h2>
        <p style="text-align: center; margin-top: 50px;">
            Seitan plaid Wes Anderson pug Blue Bottle Marfa, fashion axe Shoreditch PBR. Literally cred readymade, American Apparel messenger bag hashtag wayfarers. Polaroid Banksy <br>crucifix Tumblr keytar. Bushwick vinyl direct trade squid.
        </p>

        <div class="countries">

            <div class="country">
                <h2 class="country-title">AMERICAS</h2>
                <section class="country-list">
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                </section>
            </div>

            <div class="country">
                <h2 class="country-title">AMERICAS</h2>
                <section class="country-list">
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                </section>
            </div>

            <div class="country">
                <h2 class="country-title">AMERICAS</h2>
                <section class="country-list">
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                </section>
            </div>

            <div class="country">
                <h2 class="country-title">AMERICAS</h2>
                <section class="country-list">
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                </section>
            </div>

            <div class="country">
                <h2 class="country-title">AMERICAS</h2>
                <section class="country-list">
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                </section>
            </div>

            <div class="country">
                <h2 class="country-title">AMERICAS</h2>
                <section class="country-list">
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                    <section class="list">
                        <ul>
                            <li>Argentina</li>
                            <li>Brasil</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Guatemela</li>
                            <li>Mexico</li>
                            <li>Panama</li>
                            <li>Peru</li>
                            <li>Uruguay</li>
                        </ul>
                    </section>
                </section>
            </div>




        </div>  
    </div>
</div>
