<div class="body">
    <div class="main" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/customers.jpg); background-position: center;">
        <section class="content">
            <h1 style="color: white; font-size: 40px; font-family:RaleWay;">Our Customers</h1>

            <h3 style="color: #36ccff; font-size: 22px;font-family: RaleWay-dark;"> Aesthetic normcore ennui heirloom DIY Echo Park.</h3>
        </section>
    </div>

    <div class="boody">
        <div class="left">
            <section>
                <h2>COMPANY</h2>
                <mat-divider></mat-divider>
                <ul class="dashboard">
                    <li> About Us</li>
                    <mat-divider></mat-divider>
                    <li>About Basic</li>
                    <mat-divider></mat-divider>
                    <li>Company Timeline</li>
                    <mat-divider></mat-divider>
                    <li>Our Customers</li>
                    <mat-divider></mat-divider>
                    <li>Our People</li>
                    <mat-divider></mat-divider>
                    <li>Facts and Figures</li>
                    <mat-divider></mat-divider>
                    <li>History</li>
                    <mat-divider></mat-divider>
                </ul>
            </section>
            <section style="margin-top: 50px;">
                <h2>DOWNLOAD LIBRARY</h2>
                <mat-divider></mat-divider>
                <ul class="dashboard">
                    <li> Annual Report 2019</li>
                    <mat-divider></mat-divider>
                    <li>Company Overview</li>
                    <mat-divider></mat-divider>
                    <li>Company Brochure</li>
                    <mat-divider></mat-divider>
                </ul>
            </section>
            <section style="margin-top: 50px;">
                <h2>CORPORATE VIDEO</h2>
                <mat-divider></mat-divider>
                <img src="assets/images/corporate.jpg" alt="" width="100%">
            </section>

        </div>
        <div class="right">
            <section>
                <h2 class="underline">Our Customers</h2>
                <p style="margin-top: 50px;">
                    Before they sold out bespoke cred, whatever DIY jean shorts organic selvage seitan sriracha kogi craft beer salvia. Bushwick hella synth, ennui taxidermy crucifix photo booth readymade health goth tousled. Art party farm-to-table mumblecore chia retro, brunch fanny pack gentrify craft beer Tonx umami Brooklyn Pitchfork.
                </p>
            </section>

            <section style="margin-top: 50px;">
                <h2 class="underline">Featured Partners</h2>
                <section style="display: flex;">
                    <img src="assets/images/customerlogo.png" alt="" width="25%">
                    <img src="assets/images/customerlogo2.png" alt="" width="25%">
                    <img src="assets/images/customerlogo3.png" alt="" width="25%">
                    <img src="assets/images/customerlogo4.png" alt="" width="25%">
                </section>
            </section>

            <section style="margin-top: 50px;">
                <h2 class="underline">General Logistics Services</h2>
                <section class="services">
                    <img src="assets/images/customerlogo.png" alt="" class="grid-logos">
                    <img src="assets/images/customerlogo2.png" alt="" class="grid-logos">
                    <img src="assets/images/customerlogo3.png" alt="" class="grid-logos">
                    <img src="assets/images/customerlogo4.png" alt=""class="grid-logos">
                    <img src="assets/images/customerlogo2.png" alt="" class="grid-logos">
                    <img src="assets/images/customerlogo3.png" alt="" class="grid-logos">
                    <img src="assets/images/customerlogo4.png" alt=""class="grid-logos">
                    <img src="assets/images/customerlogo2.png" alt="" class="grid-logos">
                    <img src="assets/images/customerlogo3.png" alt="" class="grid-logos">
                    <img src="assets/images/customerlogo4.png" alt=""class="grid-logos">
                    <img src="assets/images/customerlogo2.png" alt="" class="grid-logos">
                    <img src="assets/images/customerlogo3.png" alt="" class="grid-logos">
                </section>
            </section>
        </div>
    </div>
</div>