<div class="body">
    <div class="slideshow" style="background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url(assets/images/home1.jpg);background-size: cover;">
        <section style="padding-top: 80px;">
            <h2 style="color: white; text-align: center;"> LOGISTIC HELPS YOU REALISE YOUR BUSINESS GOALS</h2>
            <h1 style="color: white; text-align: center; font-size: 70px; font-weight: 900; line-height: 76px;"> PROVIDING FIRST CLASS</h1>
            <h1 style="color: white; text-align: center; font-size: 70px; font-weight: 900; line-height: 76px;"> FREIGHT SERVICES</h1>
        </section>

        <div class="container">
            <section class="inner-container">
                <div class="homebox">
                    <mat-card style="background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(assets/images/homebox1.jpg);background-size: cover;">
                        <h2>AT A GLANCE</h2>
                        <h2 style="font-size: 30px; font-weight: 700;">Ground Shipping</h2>
                        <p>
                            Hashtag Blue Bottle Williamsburg meggings, Kickstarter gluten-free mustache jean shorts Portland messenger bag heirloom fap.
                        </p>
                        <button class="home-box-button">LEARN MORE</button>
                    </mat-card>
                </div>
    
                <div class="homebox">
                    <mat-card style="background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(assets/images/homebox2.jpg);background-size: cover;" >
                        <h2>SPEED FOR YOUR GOODS</h2>
                        <h2 style="font-size: 30px; font-weight: 700;">Air Delivery</h2>
                        <p>
                            Hashtag Blue Bottle Williamsburg meggings, Kickstarter gluten-free mustache jean shorts Portland messenger bag heirloom fap.
                        </p>
                        <button class="home-box-button">LEARN MORE</button>
                    </mat-card>
                </div>
    
                <div class="homebox">
                    <mat-card style="background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(assets/images/homebox3.jpg);background-size: cover;" >
                        <h2>CLEVERLY COMBINED</h2>
                        <h2 style="font-size: 30px; font-weight: 700;">Sea Delivery</h2>
                        <p>
                            Hashtag Blue Bottle Williamsburg meggings, Kickstarter gluten-free mustache jean shorts Portland messenger bag heirloom fap.
                        </p>
                        <button class="home-box-button">LEARN MORE</button>
                    </mat-card>
                </div>
            </section>
        </div>
    </div>

    
    <div class="service-box"  style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/footer.png); background-size: cover; background-position: center;">
        <h2 style="text-align: center; font-size: 35px;" class="underline">OUR SERVICES</h2>

        <div class="service-content">

            <section class="service">
                <i class="bi bi-cart-fill"></i>
                <section>
                    <h2 style="font-size: 22px;"> Transport of Packaged Goods</h2>
                    <p>
                        Truffaut skateboard hashtag, pork belly Odd Future bespoke paleo forage before they sold out meggings Banksy cred.
                    </p>
                </section>
            </section>

            <section class="service">
                <i class="bi bi-truck"></i>
                <section>
                    <h2 style="font-size: 22px;">National Road Transport</h2>
                    <p>
                        Truffaut skateboard hashtag, pork belly Odd Future bespoke paleo forage before they sold out meggings Banksy cred.
                    </p>
                </section>
            </section>

            <section class="service">
                <i class="bi bi-shop-window"></i>
                <section>
                    <h2 style="font-size: 22px;"> Warehousing and Storage</h2>
                    <p>
                        Truffaut skateboard hashtag, pork belly Odd Future bespoke paleo forage before they sold out meggings Banksy cred.
                    </p>
                </section>
            </section>

            <section class="service">
                <i class="bi bi-archive-fill"></i>
                <section>
                    <h2 style="font-size: 22px;"> Forwarding Services</h2>
                    <p>
                        Truffaut skateboard hashtag, pork belly Odd Future bespoke paleo forage before they sold out meggings Banksy cred.
                    </p>
                </section>
            </section>

        </div>
    </div>

    <div class="people" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/people.jpg) fixed; background-size: cover; background-position: center;">
        <h2 style="text-align: center; font-size: 35px;" class="underline">What Customers Are Saying About Us?</h2>
        
        <div class="people-container">

            <div class="people-box" >
                <mat-card class="people-card" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/people4.jpg); background-size: cover; background-position: center;">
                    
                    <section class="people-text" >
                        <p>
                            Truffaut skateboard hashtag, pork belly Odd Future bespoke paleo forage before they sold out meggings Banksy cred. Bitters plaid banjo High Life, tofu artisan Kickstarter chillwave shabby chic Pitchfork flexitarian pug wayfarers hoodie.
                        </p>
                    </section>

                    <section class="people-profile">
                        <img mat-card-sm-image src="assets/images/profile1.jpg" class="profile-image">
                        <section>
                            <p style="font-weight: 900; font-size: 14px;">Bharat Gharti <br><span>
                                <p>CEO, Grand Valley <br> France </p>
                            </span>
                        </p>
                        </section>
                    </section>
                </mat-card>
            </div>

            <div class="people-box" >
                <mat-card class="people-card" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/people1.jpg); background-size: cover; background-position: center;">
                    
                    <section class="people-text" >
                        <p>
                            Truffaut skateboard hashtag, pork belly Odd Future bespoke paleo forage before they sold out meggings Banksy cred. Bitters plaid banjo High Life, tofu artisan Kickstarter chillwave shabby chic Pitchfork flexitarian pug wayfarers hoodie.
                        </p>
                    </section>

                    <section class="people-profile">
                        <img mat-card-sm-image src="assets/images/profile1.jpg" class="profile-image">
                        <section>
                            <p style="font-weight: 900; font-size: 14px;">Bharat Gharti <br><span>
                                <p>CEO, Grand Valley <br> France </p>
                            </span>
                        </p>
                        </section>
                    </section>
                </mat-card>
            </div>

            <div class="people-box" >
                <mat-card class="people-card" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/people2.jpg); background-size: cover; background-position: center;">
                    
                    <section class="people-text" >
                        <p>
                            Truffaut skateboard hashtag, pork belly Odd Future bespoke paleo forage before they sold out meggings Banksy cred. Bitters plaid banjo High Life, tofu artisan Kickstarter chillwave shabby chic Pitchfork flexitarian pug wayfarers hoodie.
                        </p>
                    </section>

                    <section class="people-profile">
                        <img mat-card-sm-image src="assets/images/profile1.jpg" class="profile-image">
                        <section>
                            <p style="font-weight: 900; font-size: 14px;">Bharat Gharti <br><span>
                                <p>CEO, Grand Valley <br> France </p>
                            </span>
                        </p>
                        </section>
                    </section>
                </mat-card>
            </div>

            <div class="people-box" >
                <mat-card class="people-card" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/people3.jpg); background-size: cover; background-position: center;">
                    
                    <section class="people-text" >
                        <p>
                            Truffaut skateboard hashtag, pork belly Odd Future bespoke paleo forage before they sold out meggings Banksy cred. Bitters plaid banjo High Life, tofu artisan Kickstarter chillwave shabby chic Pitchfork flexitarian pug wayfarers hoodie.
                        </p>
                    </section>

                    <section class="people-profile">
                        <img mat-card-sm-image src="assets/images/profile1.jpg" class="profile-image">
                        <section>
                            <p style="font-weight: 900; font-size: 14px;">Bharat Gharti <br><span>
                                <p>CEO, Grand Valley <br> France </p>
                            </span>
                        </p>
                        </section>
                    </section>
                </mat-card>
            </div>
            

        </div>
    </div>

    <div class="end-body">
        <div class="end-box">
            <h1 style="font-weight: 900; font-size: 40px; color: #34ccff;">NEWS</h1>
            <h2 style="font-size: 30px; font-weight: 900;">STAY TUNED</h2>
            <button class="home-box-button" style="background-color: black;">
                VIEW ALL
            </button>
        </div>

        <div class="end-box">
            <h2 style="font-size: 30px; font-weight: 900;">Looking back at 2019 </h2>
            <p>
                Seitan plaid Wes Anderson pug Blue Bottle Marfa, fashion axe Shoreditch PBR. Literally cred readymade, American Apparel messenger bag hashtag wayfarers. Polaroid Banksy crucifix Tumblr keytar.
            </p>
            <a > READ MORE</a>
        </div>

        <div class="end-box">
            <h2 style="font-size: 30px; font-weight: 900;">Successful Recertification According to ISO 14001 and 22000</h2>
            <p>
                Seitan plaid Wes Anderson pug Blue Bottle Marfa, fashion axe Shoreditch PBR. Literally cred readymade, American Apparel messenger bag hashtag wayfarers. Polaroid Banksy crucifix Tumblr keytar.
            </p>
            <a > READ MORE</a>

        </div>

        <div class="end-box">
            <h2 style="font-size: 30px; font-weight:900;">German Logistics Manager of the Year</h2>
            <p>
                Seitan plaid Wes Anderson pug Blue Bottle Marfa, fashion axe Shoreditch PBR. Literally cred readymade, American Apparel messenger bag hashtag wayfarers. Polaroid Banksy crucifix Tumblr keytar.
            </p>
            <a > READ MORE</a>

        </div>
    </div>

    
</div>
