<div class="body">
    <div class="main" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/adsback.jpg);">
        <h1 style="font-family: RaleWay; color: white;text-align: center; font-size: 40px;">MEDIA CENTER </h1>
        <h3 style="text-align: center; color: #36ccff;font-size: 22px;">
            Ads & Promos
        </h3>
    </div>

    <div class="ads">
        <div class="ad-container">
            <img src="assets/images/ad1.jpg" alt="" width="100%" height="100%">

            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
        <div class="ad-container">
            <img src="assets/images/ad2.jpg" alt="" width="100%" height="100%">
            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
        <div class="ad-container">
            <img src="assets/images/ad3.jpg" alt="" width="100%" height="100%">
            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
        <div class="ad-container">
            <img src="assets/images/ad4.jpg" alt="" width="100%" height="100%">
            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
        <div class="ad-container">
            <img src="assets/images/ad5.jpg" alt="" width="100%" height="100%">
            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
        <div class="ad-container">
            <img src="assets/images/ad6.jpg" alt="" width="100%" height="100%">
            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
        <div class="ad-container">
            <img src="assets/images/ad7.jpg" alt="" width="100%" height="100%">
            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
        <div class="ad-container">
            <img src="assets/images/ad8.jpg" alt="" width="100%" height="100%">
            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
        <div class="ad-container">
            <img src="assets/images/ad9.jpg" alt="" width="100%" height="100%">
            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
        <div class="ad-container">
            <img src="assets/images/ad10.jpg" alt="" width="100%" height="100%">
            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
        <div class="ad-container">
            <img src="assets/images/ad11.jpg" alt="" width="100%" height="100%">
            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
        <div class="ad-container">
            <img src="assets/images/ad12.jpg" alt="" width="100%" height="100%">
            <h2 class="hover-ad">
                This is ad
            </h2>
        </div>
    </div>
</div>
