<div class="body">
    <div class="main" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/aboutus.jpg); background-size: cover; background-position: center;">
        <h1 style="text-align: center; color: white; font-size: 40px; font-weight: 900;">ABOUT US</h1>
        <h3 style="text-align: center; color: #34ccff; font-size: 22px; font-weight: 900;">
            Logistic is a global supplier of transport and logistics solutions. We have offices in more than 50 countries <br>and an international network of partners and agents, making us a truly global player that offers services worldwide.
        </h3>

        <section class="icons">
            <div class="icon-container">
                <i class="bi bi-geo-alt-fill"></i>
                <h1 class="underline"style="font-size:57px; color: white; margin-top: 50px; text-align: center;">
                    50
                </h1>
                <p style="color: white; margin-top: 30px;">OFFICES WORLDWIDE</p>
            </div>
            <div class="icon-container">
                <i class="bi bi-people-fill"></i>
                <h1 class="underline"style="font-size:57px; color: white; margin-top: 50px; text-align: center;">
                    24300
                </h1>
                <p style="color: white; margin-top: 30px;">EMPLOYEES</p>
            </div>
            <div class="icon-container">
                <mat-icon> local_airport</mat-icon>
                <h1 class="underline"style="font-size:57px; color: white; margin-top: 50px; text-align: center;">
                    250000
                </h1>
                <p style="color: white; margin-top: 30px;">TONS OF AIR FREIGHT EVERY YEAR</p>
            </div>
        </section>

    </div>

    <div class="building">
        <section class="image">
            <img src="assets/images/building.jpg" height="350px">
        </section>

        <section>
            <h3 style="font-size: 22px;">
                Comprehensive logistics and transportation solutions form the core of our business – from procurement logistics right through to delivery.
            </h3>
            <mat-divider></mat-divider>

        <p style="font-size: 16px; margin-top: 30px;">
            Mixtape taxidermy plaid crucifix, Cosby sweater occupy cold-pressed Portland pop-up lo-fi PBR&B kale chips readymade. Flexitarian bitters Shoreditch literally paleo. Vice letterpress Bushwick direct trade fingerstache tattooed. Stumptown flannel mlkshk wayfarers forage, plaid VHS drinking vinegar quinoa YOLO.
        </p>
        </section>
    </div>

    <div class="ribbon">
        <div class="container">
            <h3 style="font-size: 22px;" class="blue-underline">
                LOGISTIC OFFERS CUSTOMER-SPECIFIC LOGISTICS SOLUTIONS
            </h3>
            <p style="margin-top: 30px;">
                Marfa Tumblr locavore, cray meh salvia Portland Carles chillwave fashion axe PBR. Squid farm-to-table McSweeney’s mixtape try-hard, heirloom photo booth. Ethical four loko forage, messenger bag yr cold-pressed Bushwick. Butcher aesthetic roof party synth, pop-up organic 8-bit beard sartorial authentic jean shorts kale chips farm-to-table pug. Chambray XOXO bespoke biodiesel, hella seitan aesthetic master cleanse art party freegan raw denim pour-over Blue Bottle try-hard. Farm-to-table selfies mixtape shabby chic umami vinyl. Echo Park hoodie next level cardigan, Thundercats Williamsburg McSweeney’s biodiesel Pinterest meggings butcher brunch Pitchfork cray mlkshk.
            </p>
        </div>
    </div>

    <div class="values">
        <div class="values-container">
            <section class="left">
                <h3 style="font-size: 22px;" class="blue-underline">
                    SOME COMPANY VALUES
                </h3>
                <section class="buttons">
                    <button>Safety</button>
                    <button>Trust</button>
                    <button>Leading</button>
                    <button>Award Winner</button>
                </section>

                <p style="margin-top: 30px;">
                    Mixtape taxidermy plaid crucifix, Cosby sweater occupy cold-pressed Portland pop-up lo-fi PBR&B kale chips readymade. Flexitarian bitters Shoreditch literally paleo. Vice letterpress Bushwick direct trade fingerstache tattooed. Stumptown flannel mlkshk wayfarers forage, plaid VHS drinking vinegar quinoa YOLO.
                </p>

            </section>

            <section class="right">
                <p style="font-size: 140%;text-align: center;">
                    Marfa Tumblr locavore, cray meh salvia Portland Carles chillwave fashion axe PBR. Squid farm-to-table McSweeney's mixtape try-hard, heirloom photo booth. Ethical four loko forage, messenger bag yr cold-pressed Bushwick.
                </p>
                <section style="display: flex; width: 60%;">
                    <section>
                        <h5>
                            Jane Doe
                        </h5>
                        <p>
                            Logistic Department
                        </p>
                    </section>
                    <img src="assets/images/profile1.jpg" height="50px" style="border-radius: 50px; margin-top: 0px;">

                </section>

                <mat-radio-button></mat-radio-button>
                <mat-radio-button></mat-radio-button>
                <mat-radio-button></mat-radio-button>

            </section>
        </div>

    </div>

    <div class="mountains" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/mountain.jpg) fixed; background-size: cover;">
        <div class="values-container">
            <section class="textbox" style="margin-left: 0px;">
                <h3 style="font-size: 22px;" class="blue-underline">
                    MISSION
                </h3>
                <p>
                    Mixtape taxidermy plaid crucifix, Cosby sweater occupy cold-pressed Portland pop-up lo-fi PBR&B kale chips readymade. Flexitarian bitters Shoreditch literally paleo. Vice letterpress Bushwick direct trade fingerstache tattooed. Stumptown flannel mlkshk wayfarers forage, plaid VHS drinking vinegar quinoa YOLO.
                </p>
            </section>
            <section class="textbox" style="margin-right: 0px;">
                <h3 style="font-size: 22px;" class="blue-underline">
                    VISSION
                </h3>
                <p>
                    Mixtape taxidermy plaid crucifix, Cosby sweater occupy cold-pressed Portland pop-up lo-fi PBR&B kale chips readymade. Flexitarian bitters Shoreditch literally paleo. Vice letterpress Bushwick direct trade fingerstache tattooed. Stumptown flannel mlkshk wayfarers forage, plaid VHS drinking vinegar quinoa YOLO.
                </p>
            </section>
        </div>
    </div>

    <div class="values">
        <div class="values-container" style="display: block;">
            <h3 style="font-size: 22px;" class="blue-underline">
                BOARD OF DIRECTORS
            </h3>

            <div class="values-container" style="width: 100%; margin-top: 20px;">
                <section class="right">
                    <table>
                        <tr>
                            <td><p>William Kerry</p></td>
                        </tr>
                        <tr>
                            <td><p>William Kerry</p></td>

                        </tr>
                        <tr>
                            <td><p>William Kerry</p></td>

                        </tr>
                    </table>
                </section>
                
                <section class="left">

                    <div style="display: flex;">
                        <img src="assets/images/profile1.jpg" alt="" style="margin-top: 0px;">
                        <section style="margin-left: 20px;">
                            <h3>William Kerry</h3>
                            <h5 style="color: #34ccff;">Managing Director</h5>
                            <p>
                                Mixtape taxidermy plaid crucifix, Cosby sweater occupy cold-pressed Portland pop-up lo-fi PBR&B kale chips readymade. Flexitarian bitters Shoreditch literally paleo. Vice letterpress Bushwick direct trade fingerstache tattooed. Stumptown flannel mlkshk wayfarers forage, plaid VHS drinking vinegar quinoa YOLO.
                            </p>

                            <section>
                                <p style="color: #34ccff; float: left;text-decoration: dotted underline; font-size: 12px;">Previous tab</p>
                                <p style="color: #34ccff; float: right; text-decoration: dotted underline; font-size: 12px;">Next tab</p>
                            </section>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="mountains" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/aboutusend.jpg) fixed; background-size: cover;">
        <h3 style="font-size: 22px; text-align: center;">A LARGEST LOGISTIC COMPANY</h3>
        <h4 style="color:#34ccff; text-align:center;">With head offices in Europe, we employ a far-reaching global network that stretches across <br> five continents, and includes the largest distribution network and hub operations in London <br>and the European region.</h4>
        <section class="values-container" style="margin-top: 50px;">
            <section style="display:flex; flex-direction:column">
                <i class="bi bi-truck" style="border: solid 1px; padding: 30px; border-radius: 100%; margin-bottom: 50px;font-size: 30px;"></i>
                <h4 style="text-align: center;">Ship Global, Ship Fast</h4>
                <p style="text-align: center;">Apparel swag Cosby sweater lo-fi mumblecore actually fashion axe.</p>
                <button class="see-more">SEE MORE</button>
            </section>

            <section style="display:flex; flex-direction:column">
                <i class="bi bi-lock" style="border: solid 1px; padding: 30px; border-radius: 100%; margin-bottom: 50px; font-size: 30px;"></i>
                <h4 style="text-align: center;">Confidentiality</h4>
                <p style="text-align: center;">Apparel swag Cosby sweater lo-fi mumblecore actually fashion axe.</p>
                <button class="see-more">SEE MORE</button>
            </section>
        </section>
    </div>

</div>
